In [2]:
import pandas as pd

In [41]:
race_results=pd.read_csv('../race_results.csv')

## Time per each lap

NaN values indicate that the lap was disqualified due to grave rule violations.

In [24]:
lap_time_tables = pd.pivot_table(race_results[race_results['Attr']=='Lap time'], values='Value', index='Team', columns=['LapNr'])
print(lap_time_tables)

LapNr                  1      2      3      4      5      6      7      8   \
Team
AIRBORN             14.78  14.89  14.31  15.58  14.71  13.99  14.99  14.59
BETTER THAN RANDOM  26.65    NaN    NaN    NaN    NaN    NaN    NaN    NaN
TABLE-5             14.44  14.79    NaN  31.00  17.46  15.04  14.66  14.84
TEAM-A              14.39  14.99  15.39  15.36    NaN  13.27  13.51  15.06

LapNr                  9      10
Team
AIRBORN             13.84  13.97
BETTER THAN RANDOM    NaN    NaN
TABLE-5             14.56  16.42
TEAM-A                NaN  14.58

## Best lap per team

In [34]:
lap_time_tables.min(axis=1).sort_values()

Team
TEAM-A                13.27
AIRBORN               13.84
TABLE-5               14.44
BETTER THAN RANDOM    26.65
dtype: float64

## Number of disqualified laps

In [36]:
lap_time_tables.isnull().sum(axis=1).sort_values()

Team
AIRBORN               0
TABLE-5               1
TEAM-A                2
BETTER THAN RANDOM    9
dtype: int64